body {
	background: rgb(0, 0, 0);
}

.title {
	text-align: center;
	color: #fff;
	font-weight: bold;
}

canvas {
	max-width: 100%;
	background-color: #fff;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

#messageBox{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 0;
	right: 60px;
}

#messageBox #messagehistroy{
	width: 100px;
	height: 100px;
	background-color: rgba( 0, 0, 0, 0.2);
	border: 2px solid red;

}

#send{
	width: 30px;
	height: 30px;
}
