.Battle{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(https://opengameart.org/sites/default/files/Green-Cap-Character-16x18.png);
    background-size: cover;
    image-rendering: pixelated;
}

.BattlePlayer1 .battleEnemy1{
    position: absolute;
    transform: scale(2);
    width: 32px;
    height: 32px;
    overflow: hidden;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvRl59G3QLhFcZLS2FPiJE3YPf6lLytXO6cQ&usqp=CAU);
}

.BattlePlayer1 img .battleEnemy1 img{
    pointer-events: none;
}

.BattlePlayer1 img{
    bottom: 10px;
    left: 20px;
}

.BattlePlayer1 img{
    transform: translateY(-50px);
}

.battleEnemy1 img{
    top: 10px;
    right: 20px;
}

@keyframes battle-damage-blank {
    to{visibility: hidden;}
}

.battle-damage-blank{
    animation: battle-damage-blank 0.3s steps(2, start) infinite;
}

@keyframes battle-spin-right {
    0%{ transform: translate3d(0,0,0) rotate(0deg) scale(2)}
    25%{ transform: translate3d(155px,-30px,0) rotate(45deg) scale(2)}
    100%{ transform: translate3d(0,0,0) scale(2)}
}

.battle-spin-right{
    animation: battle-spin-right 0.8s;
}