* {
	box-sizing: border-box;
}

body {
	background-image: url('classroom.png');
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
}

.characterSection {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.character {
	background-color: rgba(150, 150, 150, 0.2);
	height: 250px;
	width: 100px;
	border: 5px solid #777777;
	border-right: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.character > img {
	width: 150px;
	height: 150px;
}

.characterInfo > form > input {
	row-gap: 20px;
}

.characterInfo {
	background-color: rgba(150, 150, 150, 0.2);
	height: 250px;
	color: #fff;
	width: 200px;
	border: 5px solid #777777;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	row-gap: 20px;
}
