* {
	box-sizing: border-box;
}

body {
	background-image: url('classroom.png');
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
}

.characterSection {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.character {
	background-color: #fff;
	height: 80vh;
	width: 500px;
	border: 5px solid #777777;
	border-right: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.character > img {
	width: 200px;
	height: 200px;
}

.characterInfo {
	background-color: #000;
	height: 80vh;
	color: #fff;
	width: 500px;
	border: 5px solid #777777;
}
