body {
	box-sizing: border-box;
}

.title {
	text-align: center;
}

.loginPanel {
	background-color: rgba(0, 0, 255, 0.6);
	position: relative;
	width: 250px;
	height: 500px;
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: fixed;
	top: 30%;
	left: 20%;
	transform: translate(-50%, -50%);
}

.loginPanel > form input {
	display: block;
	margin: 10px;
}

.noDisplay {
	display: none;
}
